<!-- Author: Ishan Bhutani -->

{{extend 'plugin_layouts/layouts/Theme.html'}}
<h1>Friend List</h1>

<div id="table">
    <table>
        <tr>
        {{=TD(B(CENTER("Name")))}}
        {{=TD(B(CENTER("Email")))}}
        {{=TD(B(CENTER("Delete")))}}
        </tr>
    {{for friend in friends:}}
        <tr>
        {{=TD(friend.first_name + " " + friend.last_name)}}
        {{=TD(A(friend.email, _href='mailto:' + friend.email))}}
        {{=TD(A('X', _href=URL(f='delete_friend', vars={'friend_id':friend.id})))}}
        </tr>
    {{pass}}
    </table>
</div>