<!-- Author: Michael Moo -->

{{extend 'plugin_layouts/layouts/Theme.html'}}
<p>
    Share and borrow stuff with others!
    <br>
    ShareStuff is a social network that allows friends, neighbours and strangers to connect and exchange items with one another.
    It can also be used to catalog owned items without sharing information with anyone.
    We also feature two search engines to gather information about books (through Amazon) and movies (through IMDB).
    Register and Login to check it out!
</p>
