<!-- Author: Michael Moo -->

{{extend 'plugin_layouts/layouts/Theme.html'}}
<h2>Lookup Book by ISBN</h2>
<p>Users can enter an ISBN-10 or ISBN-13 to retrieve information about a book from Amazon by typing Lookup Book by ISBN.</p>
<img src="../../static/images/ISBN_Amazon.PNG" alt="Image not Found" height="36" width="636">
<p>If the ISBN is valid, metadata will be retrieved. If the ISBN is invalid, no data will be shown.</p>
<img src="../../static/images/isbn_search_result.PNG" alt="Image not Found" height="175" width="584">

<br><br><br>
<h2>Lookup Movie by Title</h2>
<p>Users can enter a movie title to retrieve information about it by typing Lookup Movie by Title.</p>
<img src="../../static/images/Movie_Title.PNG" alt="Image not Found" height="47" width="626">
<p>All related results will be returned with links to their IMDB page.</p>
<img src="../../static/images/movie_search.PNG" alt="Image not Found" height="449" width="843">

