<!-- Author: Michael Moo -->

{{extend 'plugin_layouts/layouts/Theme.html'}}
<h2>Lookup Book by ISBN</h2>
<p>Users can enter an ISBN-10 or ISBN-13 to retrieve information about a book by typing Lookup Book by ISBN.</p>

<img src="../../static/images/ISBN_Amazon.png" alt="Image not Found" height="36" width="636">

<h2>Lookup Movie by Title</h2>
<p>Users can enter a movie title to retrieve information about it by typing Lookup Movie by Title.</p>

<img src="../../static/images/Movie_Title.png" alt="Image not Found" height="47" width="626">

