{{extend 'plugin_layouts/layouts/Unqualified.html'}}
<h1>Features</h1>
<p>    ShareStuff is a cataloguing system that allows users to create lists of items they have, (books, DVDs, etc.) and flag which of these they’re willing to lend out, and also create lists of items they want to borrow.
    This type of system is something that our group would actually use in the real world as we often exchange items with our friends.
    Pictures and information on the items will be listed as well and will be supplied by both users’ text input and automatic web searching [using the Amazon & IMDB APIs?].
    Users can create a circle of friends that they will share items with through invite, or share items publicly.
    ShareStuff features public and private lists, the ability to add friends, uploading photos, and integrated IMDB and Amazon functionality.
</p>
<p>
    <br>
    Features:
    <br>
    1) Security
    <br>
    2) Item Visibility
    <br>
    3) Friends
    <br>
    5) Detailed Description
    <br>
    4) Hostable on the Cloud
    <br>
    6) Works with any MySQL Database
    <br>
    7) Created with Web2Py\
</p>
