{{extend 'plugin_layouts/layouts/Unqualified.html'}}
<p>
    <h2> How to use StuffShare </h2>
    <br>
    <h1> 1) Registration / Logging In </h1>
        <li>To access StuffShare's features, you must first login. If you do not have an account, click on "Sign Up" located in the top
        right. </li>
    <br>
    <h2> 2) Adding Items </h2>
        <li>To add an item  for sharing, click on "Add Item in the right menu bar</li>
        <li>Fill out all the form fields: </li>
            <ul>
				<li>Item Name - Name of the item</li>
				<li> Notes - Addition information on the item </li>
				<li> Quality - The item's condition </li>
				<li> Location - Enter the item's location</li>
				<li> Visibility - Choose between public or private</li>
				<li> Return Date - Select a date of which you want this to be returned by</li>
				<li> Picture - Upload a picture of the item </li>
			</ul>
    <br>
    <h2> 3) Editing Items </h2>
		<li> Click on "Edit/Delete Item" to view the list of items you've shared. </li>
		<li> You can edit or delete the item by clicking the "Edit" or "Delete" button to the right of the table. </li>
    <br>
    <h2> 4) Private vs Public lists </h2>
		<li> Public items can be viewed by all users on the site.</li>
		<li> Private items can only be viewed by friends. </li>
    <br>
    <h2> 5) Adding Friends </h2>
		<li> To add friends, click on "Add friend" in the right menu. </li>
		<li> Select the Friend ID of the user you wish to add and click submit. </li>
		<li> Friend ID's can be seen through clicking the "Get Friend Code" link. </li>
    <br>
    <h2> 6) Accepting Friend Requests </h2>
		<li> Click on "Friend Requests" to view all pending friend requests. </li>
		<li>To accept a Friend Request, click "Accept". </li>
		<li> Similarly, you can decline a pending friend request by clicking "Decline". </li>
    <br>
    <h2> 7) Integration with Amazon and IMDB </h2>
</p>
